/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:white;
    color: black;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 2em 1em;
}

.hero {
    background-color: #f4f4f4;
    padding: 2em;
    text-align: center;
}

.books {
    padding: 2em 0;
}

.books .container {
    display: flex;
    flex-wrap: wrap;
   
}

.book-item {
    flex: 1 1 calc(33% - 1em);
    padding: 30px;
    text-align: center;
}

.book-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: white;
    color:black;
    text-align: center;
    padding: 1em 0;
}

/* Tablet  */
@media (max-width: 768px) {
    .books .container {
        flex-direction: column;
    }

    .book-item {
        flex: 1 1 100%;
    }
}
/* mobile */

@media (max-width: 480px) {
    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5px 0;
    }
}

